.App {
  background-image: url(gameboylike.png);
  background-color: #eaeff1;
  color: #181B07;
  font-family: 'Jost', sans-serif;
  display:flex; 
  flex-direction:column; 
  justify-content:center;
}

.textHeader{
  align-self: center;
}

h3{
  text-align:center;
}
.ListMain{
  align-self: center;
}

.question-count{
  margin-top: 25px;
}

.Container {
  display: table-cell;
  vertical-align: middle;
  align-self: center;
}

.question-section{
  /* Change background color */
  background-color: white;
  background-image: url(gameboylike.png);
  font-family: "Pokemon GB";
  font-size: 0.875em;
  /* Add border */
  border: #181B07;
  border-style: double;
  border-width: 5px;
  /* Add space between the border and the content */
  padding: 8px;
  margin: auto;
  width: 70%;
}

body {
  background-image: url(gameboylike.png);
}

@font-face {
  font-family: "Pokemon GB";
  src: url('/Users/tanya/Documents/projects/techtonica/Techtonica-Assignments/trivia-game/client/src/fonts/PokemonGb-RAeo.ttf');
}

.scoreboard-section {
  text-align: center;
  padding: 15px;
}